<h2>Analisis Apriori</h2>

<form method="post">
    <label>Pilih Dataset</label>
    <select name="datasetId">
        <option th:each="d : ${datasets}"
                th:value="${d.id}"
                th:text="${d.name}">
        </option>
    </select>
    <button type="submit">Analisis</button>
</form>

<hr>

<!-- ===================== -->
<!-- 1. MATRIX TRANSAKSI -->
<!-- ===================== -->
<h3>1. Matriks Transaksi Biner</h3>

<table border="1" cellpadding="4">
    <tr>
        <th>No</th>
        <th th:each="i : ${items}" th:text="${i}"></th>
    </tr>
    <tr th:each="row, s : ${matrix}">
        <td th:text="${s.index + 1}"></td>
        <td th:each="i : ${items}" th:text="${row.get(i)}"></td>
    </tr>
</table>


<hr>

<!-- ===================== -->
<!-- 2. FREQUENT ITEMSETS -->
<!-- ===================== -->
<h3>2. Frequent Itemsets</h3>

<table border="1" cellpadding="4">
    <tr>
        <th>Support</th>
        <th>Itemset</th>
    </tr>
    <tr th:each="f : ${frequentItemsets}">
        <td th:text="${f.support}"></td>
        <td th:text="${f.items}"></td>
    </tr>
</table>

<hr>

<!-- ===================== -->
<!-- 3. ASSOCIATION RULES -->
<!-- ===================== -->
<h3>3. Association Rules</h3>

<table border="1" cellpadding="4">
    <tr>
        <th>Antecedent</th>
        <th>Consequent</th>
        <th>Support</th>
        <th>Confidence</th>
        <th>Lift</th>
        <th>Leverage</th>
        <th>Conviction</th>
    </tr>

    <tr th:each="r : ${rules}">
        <td th:text="${r.antecedents}"></td>
        <td th:text="${r.consequents}"></td>
        <td th:text="${r.support}"></td>
        <td th:text="${r.confidence}"></td>
        <td th:text="${r.lift}"></td>
        <td th:text="${r.leverage}"></td>
        <td th:text="${r.conviction}"></td>
    </tr>
</table>


<hr>

<hr>

<hr>

<h3>4. Pilihan Bundling Produk Terbaik</h3>
<p>
    Berdasarkan association rules yang diperoleh pada tabel sebelumnya,
    berikut merupakan rangkuman pasangan produk yang direkomendasikan
    untuk dibundling.
</p>

<table border="1" cellpadding="4">
    <tr>
        <th>No</th>
        <th>Produk A</th>
        <th>Produk B</th>
    </tr>

    <tr th:each="b, s : ${bestBundling}">
        <td th:text="${s.index + 1}"></td>
        <td th:text="${b.antecedents}"></td>
        <td th:text="${b.consequents}"></td>
    </tr>
</table>


